<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/intro.css')}}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poor+Story&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Poor+Story&display=swap" rel="stylesheet">
	<title>HOME</title>
</head>
<body>
<div class="topnav">
  <span>Handwritten Digit Recognition System</span>
  <a href="predict.html">Predict</a>
  <a href="#Intro">Home</a>
</div>

<div class="title">
	<p class="intro">INTRODUCTION</p>
</div>

<div class="container">
<span class="content"> The handwritten digit recognition is the ability of computers to recognize human handwritten digits. It is a hard task for the machine because handwritten digits are not perfect and can be made with many different flavors. The handwritten digit recognition is the solution to this problem which uses the image of a digit and recognizes the digit present in the image. Then,  we will be predicting the labels  based on the  CNN trained model weights   of handwritten digit recognition.</span>
</div>

</body>
</html>